@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  /* slate-900 */
  color: #f8fafc;
  /* slate-50 */
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .glass {
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}